        <footer class="ph2 ph4-ns ph5-l pv2 pv3-ns bg-dark-gray near-white">

            <ul class="f6 ma0 pa0 list">

                <li class="pv1"><a href="/" class="no-underline light-blue underline-hover mr2">Skinny Guardian</a></li>
                <li class="pv1">All content &copy; <a href="https://theguardian.co.uk" class="no-underline light-blue underline-hover">The Guardian</a></li>
                <li class="pv1">Site by <a href="https://www.leonpaternoster.com" class="no-underline light-blue underline-hover">Leon Paternoster</a></li>
                <li class="pv1"><a href="https://github.com/suffolklibraries/skinny-guardian" class="no-underline light-blue underline-hover">&lt;/&gt;</a></li>

            </ul>

        </footer>

    </body>

</html>
