        <footer class="ph2 ph4-ns ph5-l pv2 pv3-ns bg-dark-gray near-white">

            <p class="f6"><a href="/" class="no-underline light-blue underline-hover">Skinny Guardian</a>. All content &copy; <a href="https://theguardian.co.uk" class="no-underline light-blue underline-hover">The Guardian</a>. Site by <a href="https://www.leonpaternoster.com" class="no-underline light-blue underline-hover">Leon Paternoster</a>. <a href="https://github.com/suffolklibraries/skinny-guardian" class="no-underline light-blue underline-hover">&lt;/&gt;</a></p>

        </footer>

    </body>

</html>
