<!DOCTYPE html>

<html lang="en-gb">

    <head>

        {% if page.is_home %}

        <title>{{ site.title }}</title>

        <meta name="description" content="{{ site.description }}">

        {% elsif page.is_article %}

        <title>{{ page.webTitle }} ⚡️ {{ site.title }}</title>

        {% else %}

        <title>{{ page.title }}</title>

        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta charset="utf-8">

        {% if page.is_article %}

        <link rel="canonical" href="{{ page.webUrl }}">

        {% endif %}

        <style>
            {% capture inline-styles %}
            {% include style.scss %}
            {% endcapture %}
            {{ inline-styles | scssify }}
        </style>

    </head>

    <body>

        <p><a href="/">{{ site.title }}</a></p>
