<!DOCTYPE html>

<html lang="en-gb">

    <head>

        {% if page.is_home %}

        <title>{{ site.title }}</title>

        <meta name="description" content="{{ site.description }}">

        {% elsif page.is_article %}

        <title>{{ page.webTitle }} ⚡️ {{ site.title }}</title>

        {% else %}

        <title>{{ page.title }}</title>

        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta charset="utf-8">

        {% if page.is_article %}

        <link rel="canonical" href="{{ page.webUrl }}">

        {% endif %}

        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body class="ma0 pa0 bg-near-white dark-gray c-sans-serif c-lh-copy">

        <div class="bg-white bb b--light-gray">

            <h1 class="f5 ma0"><a href="/" class="ph2 ph3-ns ph5-l pv2 pv3-ns db dark-blue no-underline hover-dark-pink"><span class="f4 c-old-guardian-serif normal i">Skinny</span> <span class="c-old-guardian-helv">Guardian</span></a></h1>

        </div>
