<!DOCTYPE html>

<html lang="en-gb">

    <head>

        {% if page.is_home %}

        <title>{{ site.title }}</title>

        <meta name="description" content="{{ site.description }}">

        {% elsif page.is_article %}

        <title>{{ page.webTitle }} ⚡️ {{ site.title }}</title>

        {% else %}

        <title>{{ page.title }}</title>

        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta charset="utf-8">

        {% if page.is_article %}

        <link rel="canonical" href="{{ page.webUrl }}">

        {% endif %}

        <style>
            {% capture inline-styles %}
            {% include style.scss %}
            {% endcapture %}
            {{ inline-styles | scssify }}
        </style>

    </head>

    <body class="ma0 pa0 bg-near-black light-silver c-sans-serif c-lh-copy">

        <div class="pa2 ph4-m ph5-l mb4 bb b--dark-gray">

            <div class="measure">

                <h1 class="ma0 f5"><a href="/" class="bl bw3 b--gold db pv1 pl2 light-silver no-underline hover-white">{{ site.title }}</a></h1>

            </div>

        </div>

        <main>
