html {
    font-size: 118.75%;
    background-color: #E8DCCA;
}

body {
    background-color: #E8DCCA;
    color: #333;
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;
    line-height: 1.375;
    max-width: 32em;
    font-family: 'Public Sans',-apple-system,BlinkMacSystemFont,"segoe ui","helvetica neue",helvetica,ubuntu,roboto,noto,sans-serif;
}

a {
  color: #00449E;
  text-decoration: none;
}

figure {
    margin: 0 0 1rem 0;
    padding: 0;
}

header {
    margin-top: 1rem;
}

header a {
    border-bottom: 0.25rem solid;
    font-weight: bold;
    font-size: 0.875rem;
}

figcaption {
    font-family: -apple-system,BlinkMacSystemFont,"segoe ui","helvetica neue",helvetica,ubuntu,roboto,noto,sans-serif;
}

img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
}

*:focus {
    outline: 3px solid #FFB700;
}

article header p,
footer p,
figcaption {
    font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
    line-height: 1.15;
    padding-top: 1rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3,
dt {
    font-size: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

li a {
    text-decoration: none;
}

article {
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

article a {
  text-decoration: underline;
}

article a:visited {
  color: #357EDD;
}

article a:hover,
article a:active,
article a:focus {
  color: #00449E;
}

article header {
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    padding-top: 2rem;
    border-bottom: 0;
}

article header h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
    padding-top: 0;
}

article header p,
footer p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #888;
}

article footer {
  border-top: 0;
  padding: 0;
}

footer {
  margin-top: 2rem;
  padding: 0.5rem 0;
  border-top: 1px dotted #DDD;
}

.gu-image {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
}

.element-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.element-video iframe,
.element-video object,
.element-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.element-pullquote,
.element-atom,
.element-rich-link,
.element-embed {
    display: none;
}

.c-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.c-list li {
    margin: 0;
}

.c-list a {
  display: block;
  padding: 0.25rem 0 0.5rem 0;
  text-decoration: none;
  border-top: 1px dotted #CFCFCF;
}

@media (min-width: 740px) {
    html {
        font-size: 125%;
    }
    body {
        line-height: 1.6;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    dt {
        line-height: 1.25;
    }

    article header {
        padding-top: 4rem;
    }
}
