{% include header.html %}

    <article class="pv3 pt5-ns ph2 ph4-ns ph5-l">

        <div class="measure">

            <header>

                <h1 class="ma0 f3 c-lh-title">{{ page.webTitle }}</h1>

                <p class="mid-gray">{{ page.webPublicationDate  | date: "%-d %B %Y, %R (%Z)" }}{% if page.fields.byline.size > 0 %}, {{ page.fields.byline }}{% endif %}. {{ page.fields.wordcount }} words.</p>

            </header>

            <div class="c-headers c-links c-border-links pb3 georgia">

                {{ page.fields.body }}

            </div>

            <p class="f6 pt2 bt b--moon-gray">Permalink: <a class="b dark-blue no-underline hover-dark-pink" href="{{ page.webUrl }}">{{ page.fields.shortUrl }}</a></p>

        </div>

    </article>

{% include footer.html %}
