---
layout: compress
---

{% include header.html %}

    <article class="pb3 c-measure center">

        <header class="mb3 ph2 ph4-m ph5-l">

            <p class="mt0 mb2 f6 gray">{{ page.webPublicationDate  | date: "%-d %B %Y, %R (%Z)" }}, {{ page.fields.wordcount }} words. {% if page.fields.byline.size > 0 %}{{ page.fields.byline }}.{% endif %}</p>

            <h1 class="ma0 f3 f2-ns lh-title">{{ page.webTitle }}</h1>

        </header>

        <div class="ph2 ph4-m ph5-l">

            <div class="c-headers c-links c-border-links c-hyphens c-measure">

                {{ page.fields.body }}

            </div>

            <p class="f6 gray">Permalink: <a class="b dark-blue no-underline" href="{{ page.webUrl }}">{{ page.fields.shortUrl }}</a>.</p>

        </div>

    </article>

{% include footer.html %}
